body, html{
    margin:0px;
    padding: 0%;
    font-family: "Inter";
}

.contenedor-login{
    display: flex;
    min-height: 100vh;
}

.columna-derecha, .columna-izquierda{
    flex: 1;
}

.columna-izquierda {
    background-image: url(assets/fondo-login.png);
    background-size: cover;
    background-position: center;
}

.columna-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form {
    max-width: 400px;
}

.logo-login{
    display: flex;
}

.img-logo-login {
    width: 20px;
    height: 20px;
    padding: 16px 10px;
}

.txt-logo {
    color: #ffffff;
}

.contenedor-izquierda{
    padding: 40px;
}