.h1-vis{
    margin-bottom: 5px;
}

.p-vis{
    margin: 0px 3px;
    color: #191C1E;
    font-size: 14px;
}

.header{
    margin-left: 20px;
}

.btn-horario{
    border-radius: 3px;
    color: white;
    border: none;
    background-color: #006C49;
    justify-content: center;
    padding: 10px 40px;
}